<!DOCTYPE html>
<html>
    <head>
        <title> Chess</title>
        <script src="/static/signin.js" defer></script>
    </head>
    <body>
        <h1>Free Chess. No ads. No email.</h1>
        <div id=login>
            <form>
                <input type="text" name="Username" placeholder="Name" id = "nameform"><br>
                <input type="password" name="Password" placeholder="Password" id = "pwform"><br>

                <input type="button" value="Log In" onClick="login()">
                <input type="button" value="Create" onClick="create()">
                <input type="button" value="Play Offline" onClick="offline()">
            </form>
        </div>
        
    </body>
</html>